@{
    ViewData["Title"] = "About";
}

<div class="align-items-center">
    <h1 class="display-4">Isaque Schuwarte Silva</h1>
    <h2>@ViewData["Message"]</h2>
    <p><a class="text-info" href="mailto:isaque_schuwarte@hotmail.com">@ViewData["E-mail"]</a></p>
    <p><a class="text-success" href="https://api.whatsapp.com/send?phone=5524981098990&text=Contato%20com%20Isaque">@ViewData["Whats"]</a></p>
</div>
<style>
    div a {
        text-decoration: none;
        color: slategray;
    }
</style>