@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sales Web</h1>
    <h3><i>Site das vendas dos vendedores</i></h3>
</div>

<style>
    div h1 {
        margin-bottom: 50px; 
    }
</style>